<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>登录</title>
  <script src="./../../../js/jquery.min.js"></script>
  <script src="./login.js"></script>
  <script src="../../../index.js"></script>
</head>
<body>
<!--这里是登录请求点，/login在securityConfig中定义，没有具体的controller，form的method必须使用post才能进入/login-->
  <table>
    <tr>
      <td>账号：</td>
      <td><input id="username" type="text"></td>
    </tr>
    <tr>
      <td>密码：</td>
      <td><input id="password" type="password"></td>
    </tr>
    <tr>
      <td></td>
      <td><button type="button" onclick="login()">登录</button></td>
    </tr>
  </table>
</body>
</html>