<!DOCTYPE html>
<!--springboot thymeleaf-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>登录</title>
</head>
<body>
<form th:action="/admin/login" th:method="GET">
  <table>
    <tr>
      <td>账号：</td>
      <td><input type="text" name="username"></td>
    </tr>
    <tr>
      <td>密码：</td>
      <td><input type="password" name="Password"></td>
    </tr>
    <tr>
      <input class="code-input" ng-model="verifycode" type="text" placeholder="输入验证码">
      <img src="/v1/validateCode/image/?width=100" onclick="this.src=this.src+'?'+Math.random()" id="img"
           class="code-img" alt="">
      <span class="fa fa-refresh refresh-icon" title="刷新" onclick="document.getElementById('img').onclick()"></span>
    </tr>


    <tr>
      <td></td>
      <td>
        <button type="submit">登录</button>
      </td>
    </tr>
  </table>

</form>
</body>
</html>